{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}


	<div class="d-flex justify-content-between m-3">
		{% for item in produits %}
			<div class="grid">
				<article>
					<header class="d-flex justify-content-center fw-bold fs-5 ">
						{{ item.nom }}
					</header>
					<div class="d-flex justify-content-center">
						<img src="{{ asset('asset/images/produits') }}/{{ item.image }}" alt="{{ item.nom }}">
					</div>
					<p>{{ item.description }}</p>
					<footer class="btn btn-white border-rounded text-white d-flex justify-content-center">
						<a href={{path('panier_add', { id: item.id } )}} class="btn btn-white border-black border-rounded">
							{{ item.prix }}€
						</a>
					</footer>
				</article>
			</div>
		{% endfor %}
	</div>
{% endblock %}
